/* ----  Media Settings --------------------------------- */

@media (max-width: 1024px) {
	ul.ecc_members_cats ul.children li {
		width: 49%;
	}
}
@media (min-width: 768px) { //vertical tablet
	.eltd-blog-holder.eltd-blog-single {
		article {
			.eltd-post-image {
				max-width: 43%;
				float: left;
				padding-right:2%;
				margin-bottom: 10px;
			}
		}
	}
}
@media (max-width: 768px) { //vertical tablet
	.eltd-top-bar .eltd-position-right .eltd-top-bar-widget {
		margin-left: 0px; //stops top right menu from wrapping
	}
	//.eltd-listing-dashboard-holder-outer .eltd-listing-dashboard-nav-holder ul li
	.eltd-listing-dashboard-holder-outer .eltd-listing-dashboard-nav-holder {
	  ul.eltd-listing-dashboard-nav { // point at which dashboard menu goes stacked
			li {
				padding-top: 0px;
				padding-bottom: 0px;
			}
		}
	}
}

@media only screen and (max-width: 600px) {// point at which top bar hides
	.ecc-mobile-only,
	// show phone nubmer at top (inplace of top bar)
	.ecc-top-phone {
		display:block!important;
	}

	h1 {
		font-size: 22px; //Smaller H1s on mobile devices
	}
	.eltd-login-register-widget .eltd-logged-in-user>span>span:not(.eltd-logged-in-user-name) {
		display: inline;
	}
}

@media (max-width: 480px) {
	ul.ecc_members_cats ul.children li {
		width: 100%;
	}

	img.alignright, img.alignleft {
		width: 100%;
	}
}

@media (min-width: 481px) {
	.car-show-sponsors {
		column-count: 3;
	}
}

/* end Media Settings ------------------------------------------ */
