/* styling for woocommerce */

.product-addon {
  h3.addon-name {
    font-size: 1.2em;
    margin-bottom: 0px;
    padding-top: 10px;
  }
}

.product {
  .eltd-single-product-images {
    width: 20%;
  }
  .eltd-single-product-summary {
    width: 75%;
  }
}

// shopping cart;
.shop_table {
  .product-name {
    a {
      font-size: 1.3em;
      font-weight: bold;
    }
    dl.variation {
      padding-left: 7px;
      font-size: 14px;
      line-height: 18px;
      dt {
        margin-bottom: 0px;
      }
      dd {
        margin-bottom: 10px;
        p {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
